h4 {
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 1.1em;
  grid-column: 1 / span 2;
}

.projects {
  height: 100vh;
  padding: 1em;
}

.project-wrapper {
  border: 0.1em solid var(--color);
  border-radius: 0.3em;
}

.project-description{
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--color-background-transparent);
  margin: 0;
  padding: 1em 0.8em;
width: 50vw;
height: 50vh;
text-align: center;
}

.project-list {
  padding: 0.5em;
  margin: 0;
  list-style: none;
}

.project-list-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.button-link-wrapper{
  display: grid;
  gap: 0.3em;
  grid-column: 1 / span 2;
  padding: 1em 0;
  align-items: center;
  justify-items: flex-start;
  text-align: center;
}

.project-link {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.project-image {
width: 50vw;
}

.image-wrapper{
  overflow: auto;
  padding: 0.5em 0;
width: 100%;
background-color: var(--color
);
display: grid;
justify-items: center;
align-items: center;
border-radius: 0.3em;
object-fit: cover;
}


.project-tech-list {
  display: grid;
  list-style: none;
  margin: 0;
  font-size: 0.9em;
  padding: 1em;
align-items: center;
justify-items: center;
text-align: center;
}

.project-tech-list-item {
  width: 20vw;
  padding: 0.5em;
  background-color: var(--color-tags);
  border-radius: 2em;
}

