h4 {
  padding: 0;
  margin: 0;
}

.projects {
  height: 100vh;
}

.project-wrapper {
  margin: 1em;
  display: grid;
  border: 0.1em solid var(--color);
}

.project-list {
  padding: 0 1em;
  list-style: none;
}

.link-wrapper {
  display: grid;
  justify-items: start;
  gap: 0.8em;
  padding: 1em 0;
}

.project-link {
  padding: 0.5em 1em;
}
