.button {
  cursor: pointer;
  &--logout {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: none;
    color: white;
    border: none;
    opacity: 0.5;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
