/* zen-dots-regular - latin */
@font-face {
	font-family: "ZenDots";
	font-style: normal;
	font-weight: 400;
	src: url("./Zen-Dots/ZenDots.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
	font-family: "Abel";
	font-style: normal;
	font-weight: 400;
	src: url("./Abel/Abel-Regular.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
