.header-section-navigation-container {
  background-color: var(--color-black-blue);
  margin: 0;
  padding: 0;
  height: fit-content;
  flex: 1 1 auto;
  .header-section-slogan {
    width: 100%;
    display: flex;
    justify-content: center;
    .slogan {
      width: 90%;
      padding: 1rem;
      margin: 0;
      font-size: 5rem;
      text-align: right;
      font-family: "ZenDots";
      color: var(--color-white);
      &--span {
        color: var(--color-yellow-light-dark);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-section-navigation-container {
    padding: 0.5rem;
    .header-section-slogan {
      .slogan {
        font-size: 2.5rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .header-section {
    .header-section-navigation-container {
    }
    .header-section-slogan {
      .slogan {
        font-size: 3rem;
      }
    }
  }
}
