@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --font-500: rgb(37 99 235);
  --font-300: rgb(147 197 253);
  --bg-hover: rgba(30, 64, 175, 0.3);

  /* glitch effect */
  --red: rgba(255, 0, 0, 0.75);
  --green: rgba(0, 255, 0, 0.75);
  --blue: rgba(0, 0, 255, 0.75);
}

[data-theme="dark"] {
  --bg-color: black;
  --font-500: rgb(236 72 153);
  --font-300: rgb(249 168 212);
  --bg-hover: rgba(157, 23, 77, 0.3);

  /* glitch effect */
  --red: rgba(255, 0, 0, 0.75);
  --green: rgba(0, 255, 0, 0.75);
  --blue: rgba(0, 0, 255, 0.75);
}

@keyframes pixelAvalanche {
  0% {
    clip-path: polygon(100% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(100% 100%, 50% 50%, 100% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 0% 100%);
  }
}

body {
  background-color: var(--background);
  span {
    background-color: var(--bg-hover);
  }
  a {
    border-color: var(--font-300);
  }
  p {
    color: var(--font-300);
  }

  h1,
  h2,
  h3,
  a,
  button {
    color: var(--font-500);
  }

  a:hover,
  button:hover {
    background-color: var(--bg-hover);
  }
}
