.button {
	border: none;
	cursor: pointer;
	background: none;
	font-family: "ZenDots";
	color: var(--color-light-blue);

	&--logout {
		position: absolute;
		left: 1rem;
		top: 1rem;
		color: var(--color-white);
		opacity: 0.5;
		&:hover {
			border-bottom: 1px solid var(--color-white);
		}
	}

	&--add-project {
		position: fixed;
		left: 2rem;
		bottom: 2rem;
		opacity: 0.5;

		&-cancel,
		&-submit {
			border: 1px solid var(--color-white);
			padding: 0.5rem;
			border-radius: 0.3rem;
			color: var(--color-white);
		}

		&-cancel:hover {
			background-color: var(--color-red-50);
		}

		&-submit:hover {
			background-color: var(--color-green-50);
		}
	}

	&--carousel-next-button,
	&--carousel-prev-button {
		padding: 0.5rem;
		font-size: medium;
	}
}
