.navigation-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  .navigation {
    a {
      text-decoration: none;
      color: black;
      font-weight: 800;
      text-transform: uppercase;
    }
    &--home-section {
      position: relative;
      top: 1rem;
      list-style: none;
      background-color: var(--color-dark-pink);
      display: flex;
      justify-content: space-evenly;
      border-radius: 50px;
      width: 90vw;
      padding: 0.3rem;
      font-size: 0.8rem;
    }
  }
}
