.home {
  display: grid;
  grid-template-columns: repeat(2, auto);
  height: 100vh;
  align-items: center;
  justify-items: center;

  main {
    display: grid;
    justify-content: end;
    height: 95%;
    h2 {
      margin: 0;
      padding-bottom: 0.7rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    height: fit-content;
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
    main {
      justify-content: center;
      height: 100%;
      width: 95%;
      gap: 1rem;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
