.home {
  display: grid;
  grid-template-columns: repeat(2, auto);
  height: 100vh;
  align-items: center;
  justify-items: center;

  main {
    display: grid;
    justify-content: end;
    height: 95%;
    h2 {
      margin: 0;
      padding-bottom: 0.7rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-section {
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .home-section {
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
