.header {
  display: flex;
  position: fixed;
  align-items: flex-start;
  right: 2vw;
  top: 2vw;
}

.button {
  background-color: var(--color-background);
  border: none;
  cursor: pointer;
}

.navigation {
  margin: 0.3em 0;
  background-color: var(--color-background);
  box-shadow: var(--color-background) 0 2em 5em 0;
  border: 0.01em solid var(--color);
  border-radius: 0.3em;
}

.link-list {
  margin: 0;
  padding: 0.5em;
  list-style: none;
  display: grid;
  justify-items: flex-end;
  gap: 1.5em;
}

.link {
  text-decoration: none;
  padding: 0.3em;
  color: var(--color);
}

.link:active {
  background-color: pink;
  color: #000;
}
