.header {
  display: flex;
  position: fixed;
  align-items: flex-start;
  right: 2vw;
  top: 2vw;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.link-list {
  margin: 0;
  padding: 0.5em;
  list-style: none;
  display: grid;
  justify-items: flex-end;
  gap: 1em;
}

.link {
  text-decoration: none;
  padding: 0.3em;
  color: var(--color);
}

.link:hover {
  background-color: violet;
  color: black;
}
