.project-section {
  background-color: var(--color-blue-light-80);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .project-section-title {
    margin: 0;
    font-family: "ZenDots";
    font-size: 2.5rem;
  }
}
