.navigation-wrapper {
	height: 100vh;
	.navigation {
		a {
			writing-mode: vertical-rl;
			text-orientation: upright;
			text-decoration: none;
			color: var(--color-white);
			font-weight: 300;
			text-transform: uppercase;
			&:hover {
				background-color: var(--color-dark-pink-80);
			}
		}
		&-list-item {
			display: grid;
			justify-content: center;
			align-items: center;
		}
		&--home-section {
			height: 100%;
			display: grid;
			list-style: none;
			padding: 0 1rem;
			border-left: 3px solid var(--color-yellow-light-dark);
			font-size: 0.7rem;
			font-family: "ZenDots";
		}
	}
}
