.navigation {
  all: initial;
  background-color: var(--color-dark-black-blue-30);
  box-shadow: inset 0 0 15px var(--color-light-blue-white-80);
  border-radius: 3px;
  border: 2px solid var(--color-light-blue-white-80);

  list-style: none;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 0 0.8rem;
  font-size: 0.7rem;
  font-family: "ZenDots";

  &-list-item-link {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-decoration: none;
    color: var(--color-light-blue);
    text-transform: uppercase;
    padding: 0.2rem;
    &:hover {
      box-shadow: var(--color-light-blue) 0 0 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 95vw;
    padding: 1rem 0;
    &-list-item-link {
      font-size: 0.8rem;
      writing-mode: initial;
      text-orientation: initial;
      border-bottom: 2px solid var(--color-light-blue-50);
      border-radius: 3px;
      padding: 0.1rem 0.4rem;
    }
  }
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
