.styled-corner {
	&-vertical,
	&-horizontal,
	&-inner-vertical,
	&-inner-horizontal {
		background-color: black;
		position: absolute;
	}

	// &-vertical {
	// 	width: 70vw;
	// 	height: 2px;
	// }

	// &-horizontal {
	// 	width: 2px;
	// 	height: 70vw;
	// }

	&-vertical,
	&-horizontal {
		top: 2rem;
		right: 2rem;
	}

	&-inner-vertical {
		width: 65vw;
		height: 2px;
	}

	&-inner-horizontal {
		width: 2px;
		height: 65vw;
	}

	&-inner-vertical,
	&-inner-horizontal {
		top: 2.5rem;
		right: 2.5rem;
	}
}
