:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-green: rgb(0, 128, 0);

  --color-dark-pink: rgba(215, 79, 95);
  --color-dark-pink-80: rgba(215, 79, 95, 0.8);
  --color-black-blue: rgb(26, 32, 51);
  --color-yellow-light-dark: rgb(255, 230, 1);
  --color-blue-light-80: rgba(30, 86, 171, 0.8);
}
