:root {
  --color-background: #242526;
  --font-color: rgb(68, 170, 214);

  --color-black: rgb(0, 0, 0);
  --color-light-grey: rgb(190, 190, 190);

  --color-white: rgb(255, 255, 255);

  --color-white-blue: #d1edf1;
  --color-light-blue-white: rgb(146, 214, 219);
  --color-light-blue-white-80: rgba(146, 214, 219, 0.8);
  --color-light-blue-white-60: rgba(146, 214, 219, 0.6);
  --color-light-blue: #44aad6;
  --color-light-blue-50: rgba(92, 163, 194, 0.5);
  --color-dark-blue: #2b516c;
  --color-dark-blue: rgba(43, 81, 108, 0.714);
  --color-dark-black-blue-30: rgba(45, 61, 70, 0.3);
  --color-dark-black-blue-50: rgba(45, 61, 70, 0.5);
  --color-dark-black-blue: #2d3d46;

  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
}
