:root {
  --color-background: rgb(1, 1, 31);
  --color: rgb(209, 247, 255);
  --font-dotGothic: "DotGothic16";
  --font-robotoCondensed: "Roboto Condensed";
}

html {
  scroll-behavior: smooth;
}

@font-face {
  /* dotgothic16-regular - latin */
  font-family: "DotGothic16";
  src: local("DotGothic16"),
    url("./fonts/DotGothic/dotgothic16-v15-latin-regular.ttf")
      format("truetype");

  /* roboto-condensed-regular - latin */
  font-family: "Roboto Condensed";
  src: local("RobotCondensed"),
    url("./fonts/RobotoCondensed/roboto-condensed-v25-latin-regular.ttf")
      format("truetype");
}
