:root {
  --color-background: #01011F;
  --color-background-transparent: rgb(1, 1, 31, 0.85) ;
  --color-tags: rgb(255, 113, 250, 0.5);
  --color: #F0F0F0;
  --color-cyber-pink: #ff2a6d;
  --font-dotGothic: "DotGothic16";
  --font-robotoCondensed: "Roboto Condensed";
}

html {
  scroll-behavior: smooth;
}

@font-face {
  /* dotgothic16-regular - latin */
  font-family: "DotGothic16";
  src: local("DotGothic16"),
    url("./fonts/DotGothic/dotgothic16-v15-latin-regular.ttf")
      format("truetype");

  /* roboto-condensed-regular - latin */
  font-family: "Roboto Condensed";
  src: local("RobotCondensed"),
    url("./fonts/RobotoCondensed/roboto-condensed-v25-latin-regular.ttf")
      format("truetype");
}

body {
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color);
}
