.grid-container {
  &--projects {
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    row-gap: 1rem;
    min-width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    &--projects {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
}
